#mdebw-button {
	list-style-image: url("icon.png") !important;
}

toolbar[iconsize="small"] #mdebw-button {
	list-style-image: url("icon16.png") !important;
}

/* default-ordnericon */
#mdebw-button menuitem:not([image]) {
	list-style-image: url("chrome://global/skin/icons/folder-item.png");
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}

/* label neben dem icon anzeigen */
#mdebw-button toolbarbutton {
	-moz-box-orient: horizontal !important;
	font-family: sans-serif;
}

/*“[label] label” sieht redundant aus, aber der platz wird auch ohne attribut reserviert*/
#mdebw-button[label] label {
	display: -moz-box !important;
	padding-left: 4px;
}